<div class="filter-container">
  <button class="filter-button" [ngClass]="{ active: selectedFilter === 'todas' }" (click)="filterTasks('todas')">
    All
  </button>
  <button class="filter-button" [ngClass]="{ active: selectedFilter === 'concluidas' }"
    (click)="filterTasks('concluidas')">
    Done
  </button>
</div>

<div class="task-list-container">
  <div class="task-list flex flex-col">
    <ul>
      <li *ngFor="let task of filteredTasks" class="task-item">
        <input type="checkbox" [id]="'checkbox' + task.id" [checked]="task.done"
          (change)="updateTaskStatus(task.id, !task.done)" class="task-checkbox" />
        <label [for]="'checkbox' + task.id" class="task-label">
          {{ task.description }}
        </label>
      </li>
    </ul>
    <p *ngIf="filteredTasks.length === 0" class="no-tasks">
      No tasks found yet!
    </p>
  </div>
</div>
