<div class="w-full max-w-4xl mx-auto mt-6">
    <div *ngIf="tasks.length > 0; else noTasks">
      <div class="bg-white shadow-md rounded-lg overflow-x-auto">
        <table class="min-w-full border-collapse">
          <thead>
            <tr class="bg-slate-200 text-gray-700">
              <th class="px-4 py-2 text-left font-medium">Task</th>
              <th class="px-4 py-2 text-left font-medium">Status</th>
              <th class="px-4 py-2 text-center font-medium">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let task of tasks; let i = index" class="border-t border-gray-300 hover:bg-gray-100">
              <td class="px-4 py-2 text-gray-700">{{ task.task }}</td>
              <td class="px-4 py-2">
                <span [ngClass]="task.status ? 'text-green-500' : 'text-yellow-500'">
                  {{ task.status ? 'Completed' : 'Pending' }}
                </span>
              </td>
              <td class="px-4 py-2 text-center">
                <!-- Botão para alternar o status -->
                <button
                  class="bg-green-500 hover:bg-green-700 text-white font-medium py-1 px-3 rounded transition-colors" [ngClass]="{'bg-yellow-500 hover:bg-yellow-700': task.status}"
                  (click)="toggleStatus(i)"
                >
                  <fa-icon [icon]="task.status ? faXMark: faCheck"></fa-icon>
                </button>
                <!-- Botão para excluir a tarefa -->
                <button
                  class="bg-red-500 hover:bg-red-700 text-white font-medium py-1 px-3 rounded transition-colors ml-2"
                  (click)="deleteTask(i)"
                >
                  <fa-icon [icon]="faTrash"></fa-icon>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  
    <ng-template #noTasks>
      <div class="bg-white shadow-md rounded-lg p-4 text-center">
        <p class="text-gray-700 text-lg font-medium">No tasks available at the moment.</p>
      </div>
    </ng-template>
  </div>
  